.footer
  .container
    p.text-muted
<<<<<<< HEAD
      | All rights reserved. &copy; 2016 Myongji University.
=======
      | All rights reserved. &copy; 2015 Myongji University.
>>>>>>> 20651695c55ebd1c0bfa0259e0f7b8ff65711de3
