form#form-task.form-inline(class='todos')
  .form
    .main
      input(type='text', id='content', name='content', placeholder='원하는 숙소명을 입력하여 추가하세요')
    .sub
      .form-group
        select.form-control(name='category')
          option(value='개인', selected) 집전체
          option(value='가족') 개인실
          option(value='업무') 다인실
          option(value='기타') 기타
      .form-group
        select.form-control(name='priority')
          option(value='3') 게스트 5명 이하
          option(value='2', selected) 게스트 1명
          option(value='1') 게스트 5명 이상
  .actions
      button#post-task.btn.btn-primary.btn-lg.btn-block(type='button') 저장

ul.tasks

.no-task 
  .alert.alert-info Task가 없습니다.
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
