.nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#myNavbar", aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="http://localhost:3000")
        img(src="./images/airbnb.png", width="50", height="50")
    .collapse.navbar-collapse#myNavbar
      ul.nav.navbar-nav
        li
          a(href='/users') 관리 페이지
        li
          a(href="/memo") 메모
        li
          a(href="/posts") 숙소 등록
        li
          a(href="/todos") 예약
        li
          a(href="#") Page 3
      ul.nav.navbar-nav.navbar-right
        if (!currentUser) 
          li
            a(href='/signup') 회원가입
          li
            a(href='/login') 로그인
        else
          li
            a(href='/users/#{currentUser._id}') 프로필 수정
          li
            a(href='/logout') 로그 아웃
br
