extends layout

block content
  .container
    form.form-signin(action='/login', method='POST')
      .row
        .col-md-2
          label(for='email') Email
        .col-md-10
          input(type='email', name='email', class='form-control', required, autofocus)
      p
      .row
        .col-md-2
          label(for='password') Password
        .col-md-10
          input(type='password', name='password', class='form-control', required, autofocus)
      p
      button.btn.btn-lg.btn-primary.btn-block(type='submit') 로그인
      | 
      hr
      a.btn.btn-default.btn-mini(href='/signup') 회원가입
      | 
      a.btn.btn-default.btn-mini.pwResetBtn(href='#') 비밀번호 찾기
