extends layout

block content
  .container
    form.form-signin(action='/login', method='POST')
      .row
        .col-md-2
          label(for='email')
        .col-md-12
          input(type='email', name='email', class='form-control', placeholder='Email address', required, autofocus)
      p
      .row
        .col-md-2
          label(for='password')
        .col-md-12
          input(type='password', name='password', class='form-control', placeholder='Password', required, autofocus)
      p
      button.btn.btn-lg.btn-primary.btn-block(type='submit') 로그인
      | 
      a.btn.btn-info.btn-lg.btn-block(href='/auth/facebook')
        i.fa.fa-facebook.fa-lg
        | &nbsp; &nbsp;Signin with Facebook
      hr
      a.btn.btn-default.btn-mini(href='/users/new') 회원가입
