extends ../layout

block content
  .container
    h1.page-header 메모장

    ul.list-group
      each memo in memos
        li.list-group-item
          a(href='/memo/#{memo._id}') #{memo.name}
        
    a.btn.btn-danger(href='/memo/new') 메모 작성
