extends ../layout

block hero-unit
  .post
    .container
      h1 에어비앤비가 제공하는 장소에 후기를 남겨주세요.
      p 지역에 온 사람들을 환영해주고 이들이 집처럼 편안함을 느낄 수 있을 것입니다.

block content
  .container
    h1.page-header 후기 게시판

    table.table.table-bordered
      thead
        tr
          th 후기 목록
       tbody
        each memo in memos
          tr
            td 
              a(href='/memo/#{memo._id}') #{memo.name} 

        
    a.btn.btn-danger(href='/memo/new') 후기 작성
