extends ../layout

block content
  .container
    h1.page-header 후기 게시판

    table.table.table-bordered
      thead
        tr
          th 후기 목록
       tbody
        each memo in memos
          tr
            td 
              a(href='/memo/#{memo._id}') #{memo.name} 

        
    a.btn.btn-danger(href='/memo/new') 후기 작성
