extends ../layout

block hero-unit
  .host
    .container
      h2 에어비앤비 호스트가 되어 회원님의 꿈을 실현하세요.


block content
  .container
    if post.id
      h1.page-header 게시물 수정
    else
      h1.page-header 호스트 등록하기

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      .form-group
        label(for='title') 제목
        input.form-control(type='text', name='title', placeholder='title')
      .form-group
        label(for='content') 설명
        textarea.form-control(rows='10', name='content', placeholder='content')
      .form-group
        label(for='city') 도시
        textarea.form-control(rows='1', name='city', placeholder='city')
      .form-group
        label(for='address') 주소
        textarea.form-control(rows='3', name='address', placeholder='address')
      .form-group
        label(for='charge') 숙소 요금
        textarea.form-control(name='charge', placeholder='charge')
      .form-group
        label(for='facility') 편의시설
        textarea.form-control(rows='3', name='facility', placeholder='facility')
      .form-group
        label(for='rule') 이용 규칙
        textarea.form-control(rows='3', name='rule', placeholder='rule')
                   
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-danger(type='submit') 완료

    
